<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <%- include ('../../public/menu/menuCliente.html')%>
    <table>  
        <tr>
            <th>descricao</th>
            <th>preco</th>
            <th></th>
        </tr>
        <% for (let i=0; i < produto.length; i++){ %>
            <tr>
                <td><%= produto[i].descricao %></td>
                <td><%= (produto[i].preco.toFixed(2))%></td>

                <td><a href="/produto/carrinho/<%= produto[i].id %>">add carrinho</a></td>
            </tr>
            <% } %>
    </table>
</body>

</html>