<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <header>
        <h1>Menu</h1>
    </header>
    <h3>telas:</h3>
    <%- include ('../../public/menu/menuAdmin.html')%>

</body>

</html>