  <select name="id_tipo_usuario">
            <% for(let i=0; i<tipos.length;i++) { 
            if(usuario[0].id_tipo_usuario==tipos[i].id)
            { %>
                <option value="<%= tipos[i].id %>" selected><%= tipos[i].descricao%></option>
            <% }
            else
            { %>
                <option value="<%= tipos[i].id %>" ><%= tipos[i].descricao%></option>
                
            <% } %>                
            <% } %>
        </select>